.h1-negrita{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  background-color: rgba(255, 255, 255, 0.15);
  width: 330%;
  font-size: 75px;
  z-index: 10;
}
.h1-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.h1-normalito{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: rgba(255, 255, 255, 0.15);
  color: #1aa085;
  z-index: 10;
  width: 330%;
}
h2 {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
}
.p-about {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: rgba(255, 255, 255, 0.15);
  color: #1aa085;
  z-index: 10;
  width: 330%;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  margin-bottom: 12px;
}
a {
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: grey;
  padding: 8px 30px;
}
.emiliaCole1{
  width: 70%;
}
.emiliaCole1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display:block;
}
.resto {
  width: 30%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.restoo {
  width: 30%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-left: 0;
}
.bodyAboutYIndex {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
}
.p-music {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
ol {
  list-style: decimal-leading-zero;
}
.bodyMusic {
  margin: 0;
  overflow-y: auto;
  height: auto;
}